body {
  padding: 10px;
}
#chat-output, .private-chat-output {
  height: 200px;
  overflow-y: scroll;
}
#online-users .list-group-item {
  cursor: pointer;
  user-select: none;
}
#online-users .list-group-item:hover {
  text-decoration: underline;
}
.modal .panel {
  margin-bottom: 0px;
}
.modal .modal-footer {
  margin-top: 0px;
}
